/*
ANIME STYLE CARD FRAMES
*/
@font-face {
    font-family: "Souvenir";
    src: url("https://db.onlinewebfonts.com/t/f6db100b432aade1520975f792f93753.eot");
    src: url("https://db.onlinewebfonts.com/t/f6db100b432aade1520975f792f93753.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f6db100b432aade1520975f792f93753.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f6db100b432aade1520975f792f93753.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f6db100b432aade1520975f792f93753.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f6db100b432aade1520975f792f93753.svg#Souvenir")format("svg");
}

.cardfront_content.card_border {
  display: none;
}

.cardfront_content>img.card_color {
  left: 0px;
  top: 0px;
  width: 812px;
  height: 1184px;
}

.cardfront_content>img.card_color[src*="normal_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/normal.png");
}

.cardfront_content>img.card_color[src*="token_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/token.png");
}

.cardfront_content>img.card_color[src*="effect_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/effect.png");
}

.cardfront_content>img.card_color[src*="ritual_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/ritual.png");
}

.cardfront_content>img.card_color[src*="fusion_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/fusion.png");
}

.cardfront_content>img.card_color[src*="synchro_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/synchro.png");
}

.cardfront_content>img.card_color[src*="xyz_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/xyz.png");
}

.cardfront_content .pendulum_front>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/pendulum.png");
  left: -30px;
  top: -29px;
  width: 816px;
  height: 1189px;
  opacity: 90%;
}

.cardfront_content>img.card_color[src*="link_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/link.png");
  width: 812px;
  height: 1184px;
}

.cardfront_content>img.card_color[src*="spell_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/spell.png");
  width: 812px;
}

.cardfront_content>img.card_color[src*="trap_front2"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/anime_style_frames/trap.png");
  width: 812px;
  height: 1184px;
}

.cardfront_content>span.name_txt {
  top: 742px;
  left: 100px;;
}

.cardfront_content>img.card_color[src*="xyz"]~span.name_txt, .cardfront_content>img.card_color[src*="link"]~span.name_txt, .cardfront_content>img.card_color[src*="spell"]~span.name_txt, .cardfront_content>img.card_color[src*="trap"]~span.name_txt {
  text-shadow: 5px 3px 3px black, -3px -2px 5px black;
}

.cardfront_content>img.card_color[src*="normal"]~span.name_txt, .cardfront_content>img.card_color[src*="effect"]~span.name_txt, .cardfront_content>img.card_color[src*="ritual"]~span.name_txt, .cardfront_content>img.card_color[src*="fusion"]~span.name_txt, .cardfront_content>img.card_color[src*="synchro"]~span.name_txt {
  color: white;
  text-shadow: 5px 3px 3px black, -3px -2px 5px black;
}

.cardfront_content>img.pic {
  left: 23px;
  top: 23px;
  width: 769px;
  height: 846px;
}

.cardfront_content>img.attribute[src*="fire"],.cardfront_content>img.attribute[src*="water"],.cardfront_content>img.attribute[src*="light"],.cardfront_content>img.attribute[src*="dark"],.cardfront_content>img.attribute[src*="earth"],.cardfront_content>img.attribute[src*="wind"],.cardfront_content>img.attribute[src*="divine"] {
  transform: translate(20px, 865px) scale(90%);
}

.cardfront_content>img.level {
  transform: translateX(-40px) translateY(788px);
}

.cardfront_content>img.rank { 
  transform: translateX(-40px) translateY(788px);
}

.cardfront_content>img.attribute[src*="spell"],.cardfront_content>img.attribute[src*="trap"] {
  left: 372px;
  top: 999px;
}

.cardfront_content>span.spell_type_txt {
  display: none;
}

.cardfront_content>img.type_icon {
  left: 480px;
  top: 1016px;
  scale: 200%
}

.cardfront_content .black_arrow1, .cardfront_content .red_arrow1 {
  transform: translateX(-65px) translateY(-183px) scale(115%);
}

.cardfront_content .black_arrow2, .cardfront_content .red_arrow2 {
  transform: translateY(-175px) scaleY(85%);
}

.cardfront_content .black_arrow3, .cardfront_content .red_arrow3 {
  transform: translateX(57px) translateY(-183px) scale(115%) rotate(90deg);
}

.cardfront_content .black_arrow4, .cardfront_content .red_arrow4 {
  transform: translateX(55px) translateY(-79px) scaleX(85%) rotate(90deg);
}

.cardfront_content .black_arrow5, .cardfront_content .red_arrow5 {
  transform: translateX(57px) translateY(20px) scale(115%) rotate(180deg);
}

.cardfront_content .black_arrow6, .cardfront_content .red_arrow6 {
  transform: translateY(15px) scaleY(85%) rotate(180deg);
}

.cardfront_content .black_arrow7, .cardfront_content .red_arrow7 {
  transform: translateX(-65px) translateY(20px) scale(115%) rotate(270deg);
}

.cardfront_content .black_arrow8, .cardfront_content .red_arrow8 {
  transform: translateX(-55px) translateY(-79px) scaleX(85%) rotate(270deg);
}

.cardfront_content>span.type_txt {
  top: 805px;
  scale: 85%;
  text-align: right;
  color: white;
  text-shadow: 2px 1px 3px black, -2px -1px 5px black;
}

.cardfront_content>span.effect_txt {
  display: none;
}

.cardfront_content>span.card_pendulum_effect_txt {
  display: none;
}

.cardfront_content>span.scale_left_txt {
  transform: translate(-25px, 8px);
}

.cardfront_content>span.scale_right_txt {
  transform: translate(30px, 8px);
}

.cardfront_content .monster_line, .cardfront_content>span.atk_lbl, .cardfront_content>span.def_lbl {
  display: none;
}

.cardfront_content>span.card_atk_txt, .cardfront_content>span.card_def_txt {
  font-family: "Souvenir";
  top: 1060px;
  scale: 260%;
}

.cardfront_content>span.card_atk_txt {
  right: 550px;
}

.cardfront_content>span.card_def_txt {
  right: 180px;
}

.cardfront_content>span.link_txt {
  font-family: "Souvenir";
  right: 155px;
  top: 1062px;
  scale: 250%;
}

.cardfront_content>span.passcode_txt {
  display: none;
}