@import url(https://fonts.googleapis.com/css2?family=Calibri:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap);

@font-face {font-family: "SquareType B"; src: url("//db.onlinewebfonts.com/t/5f7f9bb991d5476ca410b3df083d9070.eot"); src: url("//db.onlinewebfonts.com/t/5f7f9bb991d5476ca410b3df083d9070.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5f7f9bb991d5476ca410b3df083d9070.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5f7f9bb991d5476ca410b3df083d9070.woff") format("woff"), url("//db.onlinewebfonts.com/t/5f7f9bb991d5476ca410b3df083d9070.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5f7f9bb991d5476ca410b3df083d9070.svg#SquareType B") format("svg"); }

@font-face {font-family: "Work Sans Thin"; src: url("//db.onlinewebfonts.com/t/193b034cac090c4c324eaa0bdac28882.eot"); src: url("//db.onlinewebfonts.com/t/193b034cac090c4c324eaa0bdac28882.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/193b034cac090c4c324eaa0bdac28882.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/193b034cac090c4c324eaa0bdac28882.woff") format("woff"), url("//db.onlinewebfonts.com/t/193b034cac090c4c324eaa0bdac28882.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/193b034cac090c4c324eaa0bdac28882.svg#Work Sans Thin") format("svg"); } 

/* MAIN MENU */

/*duel! arrow*/
#duel_btn {
  left: 282px;
  opacity: 85%;
}

#duel_btn>img {
	content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/duel_btn.svg");
}

#duel_btn:hover {
	filter: brightness(120%);
}

#brionac_large[src*="/brionac"] {
  left: -1150px;
  top: -1060px;
  width: 3800px;
  height: 2750px;
  scale: 25%;
  rotate: -11.2deg;
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/png/scareclaw_tri_heart.png");
}

#brionac_large[src*="/pumpking"] {
  left: -1050px;
  top: -1575px;
  width: 3600px;
  height: 3200px;
  scale: 25%;
  rotate: -8deg;
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/png/ghostrick_festival.png");
}

#brionac_large[src*="/turkey"] {
  left: -370px;
  top: -990px;
  width: 2200px;
  height: 2500px;
  scale: 25%;
  rotate: -11.2deg;
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/png/ukiyoe_punk_amazing_dragon.png");
}

#brionac_large[src*="/snowman"] {
  left: -770px;
  top: -820px;
  width: 3300px;
  height: 2150px;
  scale: 25%;
  rotate: -11.2deg;
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/png/starry_night_starry_dragon.png");
}

/* DUEL UI */

/*===== CHANGE AVATAR AND BACKGROUND by replacing links below with your image or gif links =====*/


/*Control dimming of the background image*/

:root{
    --bg-dim: 50%;
}

/*Background image*/

body {
  background-color: solid black;
  background-size: cover;
}

/*In duel avatar*/

/*#avatar1>img.image {
    content: url(https://mykes.s-ul.eu/aNMvZwxh);
}*/

/*Hide default background*/

#circuit_board {
    visibility: hidden;
}

#circuit_cover {
    visibility: hidden;
}

/*===== CHANGE FONT by adding @import of your font and replace " Roboto, sans-serif " below =====*/

:root {
    --font-family: 'Roboto', sans-serif;
}

/*===== CHANGE COLOR by replacing the HEX values(#000000) =====*/

:root {
    --bg-color: linear-gradient(0deg, #1c1c21 0%, #17171b 100%);
}

:root {
    --text-color: #d6d6d6;
}

:root {
    --border-color: #3a3a3d;
}

:root {
    --select-color: #4486c4;
}

:root {
    --lp-color-p1: linear-gradient(90deg, #ce404f 0%, #cb4141 100%);
}

:root {
    --lp-color-p2: linear-gradient(90deg, #3c49af 0%, #293594 100%);
}



/*----------- SECTION: DARK MODE ---------*/


/*Player colors were too bright on dark*/

div.os-content.selectable.os-textarea b font {
    font-weight: 600;
    filter: contrast(70%)hue-rotate(348deg);
}

/*Lifepoint and player colors*/

div#lifepoints1.lifepoints div.life_bar {
    background: var(--lp-color-p1);
}

div#lifepoints2.lifepoints div.life_bar {
    background: var(--lp-color-p2);
}

div.life_border {
    border-color: #303030;
}

div.black_bar {
    background: linear-gradient(90deg, #040404 0%, #161616 100%);
    ;
}

div#avatar1.duel_avatar {
    background: var(--lp-color-p1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

div#avatar2.duel_avatar {
    background: var(--lp-color-p2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

div.gone {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/*Phase buttons*/

/*Player current status*/

#status1 .status_txt, #status2 .status_txt {
    font-family: var(--font-family);
    font-weight: 500;
}

/*Links*/

div a u {
    color: #476fff;
}

/*Selection color*/

::selection {
    color: white;
    background: var(--select-color);
}

/* Card preview text */

#preview_txt {
    color: var(--text-color);
    background: var(--bg-color);
    border: solid 1px var(--border-color);
}

div.os-scrollbar-handle {
    background-color: gainsboro;
}

/*Watchers section*/

#watchers {
    color: var(--text-color);
    background: var(--bg-color);
    border: solid 1px var(--border-color);
}

#watchers>div {
    color: var(--text-color);
    background: var(--bg-color);
}

/*Buttons*/

div.button.proxy.unselectable {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
    /*Delete line below for round edges*/
    border-radius: 0px;
}

/*Inputs*/

input[type] {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
    border: solid 1px var(--border-color);
}

div.textinput.proxy {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
}

/*Drop down selectors*/

div.combobox.proxy.unselectable {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
    /*Delete line below for round edges*/
    border-radius: 0px;
    letter-spacing: -0.4px;
}

.combobox_background {
  display: none;
}

select {
    background: none;
    color: var(--text-color);
    background: #1c1c21;
}

/*Chatting section*/

div.cout_txt.textarea.scrollpane.selectable.os-host.os-theme-dark.os-host-resize-disabled.os-host-transition {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
    border: solid 1px var(--border-color);
    padding-left: 6px;
    font-family: var(--font-family);
    font-weight: 400;
}

div div b {
    color: #90c982;
}

/*Card options*/

span.card_menu_txt {
    background: none;
    opacity: 85%;
    color: #eeeeee;
    background: #1c1c21;
    border: solid 1px var(--border-color);
}

span.card_menu_txt:hover {
    background: none;
    color: #1c1c21;
    background-color: var(--select-color);
    border: solid 1px var(--border-color);
}

/*Logs and Watchers section*/

div.chat_background {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
}

div div font {
    filter: contrast(70%)hue-rotate(348deg);
}

div.log_txt.textarea.scrollpane.selectable.os-host.os-theme-dark.os-host-resize-disabled.os-host-transition {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}

/*Login Screen*/

div#login div.background{
    background: var(--bg-color);
}
div#login{
    color: var(--text-color);
}

div.textarea.scrollpane.selectable.os-host.os-theme-dark.os-host-resize-disabled.os-host-transition.os-host-overflow.os-host-overflow-y {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}

#logged_in div.background {
    color: var(--text-color);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}

#logged_in_as_lbl {
    color: var(--text-color);
}

#logged_in>span.username_txt {
    color: var(--text-color);
}

/*Main Menu*/

div.menu_btn img {
    filter: saturate(30%) hue-rotate(23deg);
}

textarea.status_txt {
    color: var(--text-color);
    background: var(--bg-color);
}

/*Rankings*/

.ranking_item.unselectable {
    background: none;
    color: var(--text-color);
    background: #1c1c21;
}

#rankings>div.content.scrollpane.os-host.os-theme-dark.os-host-resize-disabled.os-host-transition.os-host-overflow.os-host-overflow-x.os-host-overflow-y>div.os-padding>div>div {
    background-color: black;
}

/*Duel room*/

#formats_inner {
    filter: contrast(80%) saturate(50%);
}

/*Profile Viewer*/

div.profile_txt.textarea.aliased.scrollpane.selectable.os-host.os-theme-dark.os-host-resize-disabled.os-host-transition, textarea.comment_txt {
    background: none;
    color: var(--text-color);
    background: var(--bg-color);
}

#profile_content>div.os-padding>div>div>div.textinput.proxy {
    color: var(--text-color);
}

.social_buttons>span {
  font-family: var(--font-family);
  font-weight: 600;
}

/*profile avatar frame*/
.profile_avatar .avatar_frame[src*="teal"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/avatar_teal.svg");
}

.profile_avatar .avatar_frame[src*="red"], .avatar .avatar_frame[src*="red"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/avatar_red.svg");
}

/*profile pictures*/
.profile_avatar .image, .avatar .image {
  border-radius: 0%;
}

/*My Profile*/

textarea.profile_txt {
    color: var(--text-color);
    background: var(--bg-color);
}

/*Online Users*/

div.os-content.os-list div.cell.cell1 {
    color: var(--text-color);
    background: var(--bg-color);
}

div#action_list div.cell.cell1 {
    color: var(--text-color);
    background: var(--bg-color);
    margin: -2px;
    border: solid 1px var(--border-color);
}

div.os-content.os-list div.cell.cell1.isAdmin.admin1 {
    color: lightgreen;
    background: var(--bg-color);
}

div.os-content.os-list div.cell.cell1.following {
    color: lightskyblue;
    background: var(--bg-color);
}



/*----------- SECTION: FONTS ---------*/



/*FONT Main menu*/

div.menu_btn {
    font-family: var(--font-family);
    font-weight: 700;
}

div.delete_btn {
    font-family: var(--font-family);
    font-weight: 400;
}

span.username_txt.selectable.size24 {
    font-family: var(--font-family);
    font-weight: 500;
}

span.not_link, span.link {
    font-family: var(--font-family);
    font-weight: 400;
}

div.reply_btn, div.date_txt.arial_rounded18 {
    font-family: var(--font-family);
    font-weight: 500;
}

.arial_black2 {
  font-family: var(--font-family);
  font-weight: 600;
}

div.status_txt.size18.cyan.selectable {
    font-family: var(--font-family);
    font-weight: 400;
}

/* FONT Tournaments*/

div.desc_txt.size18.cyan.selectable {
    font-family: var(--font-family);
    font-weight: 400;
}

span.name_txt.selectable.size24 {
    font-family: var(--font-family);
    font-weight: 700;
}

/*FONT Name and LP*/

span.username_txt.selectable {
    font-family: var(--font-family);
    font-weight: 600;
    filter: drop-shadow(0px 1px 0px black);
    padding-top: 1.5px;
}

span.life_txt {
    font-family: var(--font-family);
    font-weight: 600;
    filter: drop-shadow(0px 1px 0px black);
}

/*FONT Card option pop up*/

span.card_menu_txt {
    font-family: var(--font-family);
    font-weight: 500;
}

/* FONT Like count*/

div.likes {
    font-family: var(--font-family);
    font-weight: 500;
}

/*FONT Profile Viewer*/

div.stats span, span.views_lbl, span.views_txt.bisque, span.unfollow_btn, div.delete_btn.arial_rounded25, div.os-viewport.os-viewport-native-scrollbars-invisible {
    font-family: var(--font-family);
    font-weight: 500;
}

div.os-content.selectable.os-textarea {
    font-family: var(--font-family);
    font-weight: 400;
}

span.profile_lbl.kristenitc, span.comments_lbl.kristenitc, span.post_a_comment_lbl.kristenitc, span.friends_lbl.kristenitc {
    font-family: var(--font-family);
    font-weight: 700;
}

#profile_content>div.os-padding>div>div>div.textinput.proxy {
    font-family: var(--font-family);
    font-weight: 600;
}

#profile_username_txt {
    font-family: var(--font-family);
    font-weight: 600;
}

div.comment_txt.arial_rounded18.selectable.cyan {
    font-family: var(--font-family);
    font-weight: 500;
}

/*FONT Browse Users*/

span.username_txt.bisque {
    font-family: var(--font-family);
    font-weight: 600;
}

div.desc_txt {
    font-family: var(--font-family);
    font-weight: 500;
}

/*FONT Friend Requests*/

div.accept_btn.arial_rounded25 {
    font-family: var(--font-family);
    font-weight: 500;
}

div.revoke_btn.arial_rounded25 {
    font-family: var(--font-family);
    font-weight: 500;
}

div.deny_btn.arial_rounded25 {
    font-family: var(--font-family);
    font-weight: 500;
}

div.message_btn.arial_rounded25 {
    font-family: var(--font-family);
    font-weight: 500;
}

span.accept_all_btn.arial_rounded25 {
    font-family: var(--font-family);
    font-weight: 500;
}

#duel_records span {
    font-family: var(--font-family);
    font-weight: 600;
}

/*FONT Zone card counter
(this one was pain in the ass to find)*/

/*
#cid1_txt, #cig1_txt, #cib1_txt, #cie1_txt, #cid2_txt, #cig2_txt, #cib2_txt, #cie2_txt, #hm1_txt, #hm2_txt, #hm3_txt, #hm4_txt, #hm5_txt, #om1_txt, #om2_txt, #om3_txt, #om4_txt, #om5_txt, #link_right_txt, #hl_txt, #ol_txt {
    font-family: var(--font-family);
    font-weight: 600;
}*/

/*FONT Post Status*/

span.title_lbl.kristenitc, #post_status_btn {
    font-family: var(--font-family);
    font-weight: 600;
}

/*FONT Pop up message*/
#msg, #confirm, #confirm2, #combo {
    font-family: var(--font-family);
    font-weight: 600;
}

.combo_cb>option {
  font-family: var(--font-family);
  font-weight: 200;
}

.combobox.proxy {
  font-family: var(--font-family);
  font-weight: 600;
}

.combobox_arrow {
  filter: invert();
}

span.connection_status {
    font-family: var(--font-family);
    font-weight: 600;
}

#welcome_buttons span{
    font-family: var(--font-family);
    font-weight: 500;
}

#countdown2{
    font-family: var(--font-family);
    font-weight: 500;
}

/* ICON REPLACEMENTS */

#screenshot_btn>img {
    content: url("https://www.svgrepo.com/show/326536/camera-outline.svg");
    filter: invert();
}

#screenshot_btn .hidden {
  box-shadow: none;
}

#screenshot_btn:hover>img, #mute_btn:hover>img {
  filter: invert() drop-shadow(0px 0px 5px gray) drop-shadow(0px 0px 5px gray) drop-shadow(0px 0px 5px gray);
}

#mute_btn>img {
    content: url("https://www.svgrepo.com/show/326453/volume-off-outline.svg");
    filter: invert();
    scale: 140%;
    left: -9px;
    top: -1px;
}

#cross>img {
  content: url("https://www.svgrepo.com/show/326571/close-outline.svg");
  filter: invert();
  scale: 90%;
  left: 6px;
  top: -1px;
}

#die_btn {
  filter: invert();
  scale: 116%;
  top: 309px;
}

#die_btn>img {
  content: url("https://www.svgrepo.com/show/326602/dice-outline.svg");
}

#coin_btn {
  filter: invert();
  top: 305px;
}

#coin_btn>img {
  content: url("https://www.svgrepo.com/show/326612/ellipse-outline.svg");
}

#counter_btn>.content>.background {
  content: url("https://www.svgrepo.com/show/326807/server-outline.svg");
  filter: invert();
  width: 100%;
  height: 100%;
  left: 3px;
}

#counter_btn>.content>.glow {
  content: url("https://www.svgrepo.com/show/326612/ellipse-outline.svg");
  filter: invert();
  width: 100%;
  height: 100%;
  left: 3px;
}

#m1_counter,#m2_counter,#m3_counter,#m4_counter,#m5_counter {
  transform: translate(45%, -40%);
}

#opp_m1_counter,#opp_m2_counter,#opp_m3_counter,#opp_m4_counter,#opp_m5_counter{
  transform: translate(113%, 0%);
}

#left_link_counter, #right_link_counter {
  transform: translate(45%, -40%);
}

.counter>.content>img {
  content: url("https://www.svgrepo.com/show/326773/radio-button-on-outline.svg");
  filter: invert();
  width: 100%;
  height: 100%;
  scale: 100%;
}

#plus_btn {
  left: 538px;
  filter: invert();
}

#plus_btn>img {
  content: url("https://www.svgrepo.com/show/326463/add-circle-outline.svg");
}

#minus_btn {
  left: 538px;
  filter: invert();
}

#minus_btn>img {
  content: url("https://www.svgrepo.com/show/326782/remove-circle-outline.svg"); 
}

#watchers_btn>img {
  content: url("https://www.svgrepo.com/show/326627/eye-outline.svg");
  filter: invert();
}

#log_btn>img {
  content: url("https://www.svgrepo.com/show/326777/receipt-outline.svg");
  filter: invert();
}

#online_btn>img {
  content: url("https://www.svgrepo.com/show/326739/people-circle-outline.svg");
  filter: invert();
}

#chat_btn>img {
  content: url("https://www.svgrepo.com/show/326553/chatbubble-outline.svg");
  filter: invert();
}

#private_btn>img {
  content: url("https://www.svgrepo.com/show/326555/chatbubbles-outline.svg");
  filter: invert();
}

#think_btn>img {
  content: url("https://www.svgrepo.com/show/326847/time-outline.svg");
  filter: invert();
  scale: 120%;
  left: -2px;
  top: -1px
}

.think {
  content: url("https://www.svgrepo.com/show/326677/hourglass-outline.svg");
  filter: invert();
}

#good_btn>img {
  content: url("https://www.svgrepo.com/show/326559/checkmark-done-circle-outline.svg");
  filter: invert();
}

.all_good>img {
  content: url("https://www.svgrepo.com/show/326842/thumbs-up-outline.svg");
  filter: invert();
}

#shuffle_btn>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/shuffle.svg");
  filter: invert();
}

#show_hand_btn>img[alt="Show Hand"] {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/show_hand.svg");
  filter: invert();
}

#show_hand_btn>img.hand{
  display: none;
}

.sort_btn>img {
  content: url("https://www.svgrepo.com/show/326832/swap-vertical-outline.svg");
  filter: invert();
}

.info_btn>img {
  content: url("https://www.svgrepo.com/show/326673/help-circle-outline.svg");
  filter: invert();
}

#ss_spiral>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/png/the_seal_of_orichalcos.png");
  scale: 50%;
  transform-origin: center;
}

#ss_glow>img {
  filter: hue-rotate(180deg);
  scale: 50%;
  transform-origin: center;
}

.custom {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/custom.svg");
}

.tcg {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/tcg2.svg");
}

.ocg {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/ocg2.svg");
}

.limited {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/limited.svg");
}

.semi_limited {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/semi2.svg");
}

img.key {
  content: url("https://www.svgrepo.com/show/326698/lock-closed-outline.svg");
}

img.watching {
  content: url("https://www.svgrepo.com/show/326627/eye-outline.svg");
}

.duelbutton>img.watching {
  left: 255px
}

.duelbutton {
  width: 300px;
}

/* FONT REPLACEMENTS */

/*FONT deck builder */

#deck_constructor>.total_txt, .total_normal_txt, .total_effect_txt, .total_ritual_txt, .total_ritual_txt, .total_pendulum_txt, .total_spell_txt, .total_trap_txt {
    font-family: MatrixRegularSmallCaps;
    font-size: 28px;
    color: white;
    text-shadow: 0px 0px 2px black, 1px 1px 2px black, -1px -1px 2px black;
    left: 210.5px;
}

#search>.title_txt {
  font-family: Work Sans Thin;
  font-weight: 60;
}

#upload_card .title_txt {
  font-family: Work Sans Thin;
  font-weight: 60;
}

/*FONT Field section*/

#cib1_txt {
  left: 772.5px;
}

#cig1_txt {
  left: 757.5px;
}

#cib2_txt {
  left: 210.5px;
}

#cig2_txt {
  left: 225.5px;
}

span.gray_txt.arial_rounded25, span.white_txt.arial_rounded25 {
    font-family: Work Sans Thin;
}

#turn>.arial_rounded20 {
  transform: scaleX(90%);
  transform-origin: left;
  left: 6px;
  top: 1px;
}

span.end_turn_txt.arial_rounded20 {
    transform: scaleX(66%);
    transform-origin: left;
    letter-spacing: -1px;
}

span.start_turn_txt.arial_rounded20 {
    transform: scaleX(62%);
    transform-origin: left;
    letter-spacing: -1px;
}

div div b {
    font-family: var(--font-family);
    font-weight: 500;
}

span.arial_rounded20 {
    padding-top: 1px;
    padding-left: 2px;
    font-family: var(--font-family);
    font-weight: 600;
}

.counter>.total_txt {
  font-family: SquareType B;
  left: -29%;
  top: -37%;
  font-size: 22px;
}

#field_stats>span {
  /*font-family: SquareType B;*/
  font-family: MatrixRegularSmallCaps;
  font-size: 20px;
  font-weight: 600;
}

#om1_txt, #om2_txt, #om3_txt, #om4_txt, #om5_txt {
  top: 150px;
}

#numbers>span {
  font-family: SquareType B;
  font-size: 32px;
}

#input>.title_txt, #input>.body_txt {
  font-family: var(--font-family);
  font-weight: 600;
}

#msg>.title_txt, #msg>.body_txt, #over>.title_txt, #over>.body_txt {
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
}

#turn>.arial_rounded20, #start_turn>.arial_rounded20, #end_turn>.arial_rounded20 {
  font-family: Work Sans Thin;
  font-weight: 400;
}

.game_type {
  font-family: var(--font-family);
  font-weight: 600;
  color: black;
  text-shadow: none;
  border: 1px solid black;
}

/* UI ELEMENT REPLACEMENT */

/*Rock paper scissors cards*/
/* Nibiru - scroll - gimmick puppet */
/*
.content .cardfront .cardfront_content>img.pic[src*="card/rock"] {
	content: url("https://images.duelingbook.com/card-pics/10345.jpg");
}

.content .cardfront .cardfront_content>img.pic[src*="card/paper"] {
	content: url("https://images.duelingbook.com/card-pics/9969.jpg");
}

.content .cardfront .cardfront_content>img.pic[src*="card/scissors"] {
	content: url("https://images.duelingbook.com/card-pics/6031.jpg");
}*/

/*Geargiano*/
.content .cardfront .cardfront_content>img.pic[src*="card/rock"] {
	content: url("https://images.duelingbook.com/card-pics/1759.jpg");
}

.content .cardfront .cardfront_content>img.pic[src*="card/paper"] {
	content: url("https://images.duelingbook.com/card-pics/6302.jpg");
}

.content .cardfront .cardfront_content>img.pic[src*="card/scissors"] {
	content: url("https://images.duelingbook.com/card-pics/5444.jpg");
}

.phase .background, .phase .phase_dark_blue, .phase .phase_dark_red {
  display: none;
}

#sp>span, #ep>span {
  left: 4.5px;
}

#m1 {
  left: 467px;
}

#bp {
  left: 516px;
}

#bp>span {
  left: 4px;
}

#m2>span {
  left: 4px;
}

#turn>.background, #start_turn>.background, #end_turn>.background {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/turn_background.svg");
  filter: invert();
}

#turn>.blue {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/turn_blue.svg");
  filter: invert();
}

#turn>.red, #start_turn>.red, #end_turn>.red {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/turn_red.svg");
  filter: invert();
}

#start_turn>.green, #end_turn>.green {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/turn_green.svg");
  filter: invert();
}

#end_turn>.yellow {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/turn_yellow.svg");
  filter: invert();
}

.white_glow {
  display: none;
}

#msg, #confirm, #confirm2, #combo, #input {
  background-image: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/msg_background.svg");
}

#over>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/over.svg");
}

.phase_blue {
  filter: invert();
  scale: 115%;
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/phase_blue.svg");
}

.phase_red {
  filter: invert();
  scale: 115%;
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/phase_red.svg");
}

#view>.title_txt {
  top: 6px;
}

#view>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/vvv2.svg");
}

#view>.content {
  width: 583px;
}

.exit_btn {
  content: url("https://www.svgrepo.com/show/326572/close-circle-outline.svg");
  top: 6px;
  left: 565px;
  filter: invert();
}

#overlay>img {
  content: url("https://www.svgrepo.com/show/195652/orbit.svg");
  filter: invert();
  scale: 50%;
}

.checkbox {
  background-image: url("https://www.svgrepo.com/show/326821/square-outline.svg");
  filter: invert();
}

.check {
  content: url("https://www.svgrepo.com/show/326560/checkmark-outline.svg");
}

#sword>img {
  display: none;
}

#field_spell_pic {
  left: 289px;
  top: 61px;
  width: 461px;
  height: 461px;
  filter: blur(1px); 
}

/*red_stream, blue_stream for attack declarations*/

#field_zones {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/field_zones.svg");
}

#field_zones2 {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/field_zones2.svg");
}

#field_zones3 {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/field_zones3.svg");
}

#field_zones4 {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/field_zones4.svg");
}

#field_decks {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/field_decks.svg");
}

#field_decks2 {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/field_decks2.svg");
}

.deck_constructor {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/deck_constructor2.svg");
}

#search>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/search.svg");
}

#upload_card .background {
  filter: saturate(13%) invert(100%) hue-rotate(325deg) brightness(350%) contrast(85%);
}

.minimize_btn>img {
  content: url("https://www.svgrepo.com/show/326571/close-outline.svg");
  filter: invert();
  scale: 130%;
}

.refresh_btn>img {
  content: url("https://www.svgrepo.com/show/326779/reload-circle-outline.svg");
  filter: invert();
  scale: 130%;
}

.yes_btn:hover, .no_btn:hover, .cancel_btn:hover, .ok_btn:hover {
  filter: brightness(120%);
}

.prev_btn:hover, .next_btn:hover {
  filter: invert() drop-shadow(0px 0px 3px white);
}

.yes_btn>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/yes_btn.svg");
}

.no_btn>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/no_btn.svg");
}

.cancel_btn>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/cancel_btn.svg");
}

.ok_btn>img {
  content: url("https://raw.githubusercontent.com/QuotedTF/duelingbook-dark-minimal/main/svg/ok_btn.svg");
}

.prev_btn {
  content: url("https://www.svgrepo.com/show/326562/chevron-back-circle-outline.svg");
  filter: invert();
  scale: 125%;
}

.next_btn {
  content: url("https://www.svgrepo.com/show/326565/chevron-forward-circle-outline.svg");
  filter: invert();
  scale: 125%;
}

.export_btn {
  content: url("https://www.svgrepo.com/show/326731/open-outline.svg");
  filter: invert();
}

/* Social media icons */

.social_btn:hover .social_bg {
  box-shadow: none;
}

.discord_btn>img {
  content: url("https://www.svgrepo.com/show/473585/discord.svg");
  filter: invert();
}

.discord_btn:hover>img {
  filter: invert() drop-shadow(0px 0px 5px #7289da) drop-shadow(0px 0px 5px #7289da) drop-shadow(0px 0px 5px #7289da);
}

.instagram_btn>img {
  content: url("https://www.svgrepo.com/show/473664/instagram.svg");
  filter: invert();
}

.instagram_btn:hover>img {
  filter: invert() drop-shadow(0px 0px 5px #e56969) drop-shadow(0px 0px 5px #e56969) drop-shadow(0px 0px 5px #e56969);
}

.facebook_btn>img {
  content: url("https://www.svgrepo.com/show/473600/facebook.svg");
  filter: invert();
}

.facebook_btn:hover>img {
  filter: invert() drop-shadow(0px 0px 5px #3360ff) drop-shadow(0px 0px 5px #3360ff) drop-shadow(0px 0px 5px #3360ff);
}

.youtube_btn>img {
  content: url("https://www.svgrepo.com/show/473495/youtube.svg");
  filter: invert();
}

.youtube_btn:hover>img {
  filter: invert() drop-shadow(0px 0px 5px #ee0f0f) drop-shadow(0px 0px 5px #ee0f0f) drop-shadow(0px 0px 5px #ee0f0f);
}

.twitter_btn>img {
  content: url("https://www.svgrepo.com/show/473815/twitter.svg");
  filter: invert();
}

.twitter_btn:hover>img {
  filter: invert() drop-shadow(0px 0px 5px #61c5ec) drop-shadow(0px 0px 5px #61c5ec) drop-shadow(0px 0px 5px #61c5ec);
}